asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
backports.functools-lru-cache==1.4
backports.weakref==1.0rc1
bleach==1.5.0
boto==2.48.0
bz2file==0.98
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.0.1
cssselect==1.0.1
cycler==0.10.0
gensim==2.2.0
h5py==2.7.0
html5lib==0.9999999
hyperlink==17.3.0
idna==2.5
incremental==17.5.0
jieba==0.38
Keras==2.0.6
lxml==3.8.0
Markdown==2.6.8
matplotlib==2.1.1
numpy==1.13.3
olefile==0.44
opencv-python==3.4.0.12
parsel==1.2.0
Pillow==4.3.0
protobuf==3.3.0
pyasn1==0.3.1
pyasn1-modules==0.0.10
pycparser==2.18
PyDispatcher==2.0.5
pymongo==3.4.0
pyOpenSSL==17.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
queuelib==1.4.2
requests==2.18.3
scipy==0.19.1
Scrapy==1.4.0
service-identity==17.0.0
six==1.11.0
smart-open==1.5.3
tensorflow==1.2.1
Theano==0.9.0
Twisted==17.5.0
urllib3==1.22
virtualenv==15.1.0
w3lib==1.17.0
Werkzeug==0.12.2
zope.interface==4.4.2
